@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  background-color: #64748b;
  font-family:'Nunito',Arial,sans-serif;
}

.generale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg {
  background-image: url("https://www.dropbox.com/scl/fi/os8bmcbywldnhh6mbokek/retro_tapes.jpg?rlkey=eidyln9rfig2ycqn173ny3fqs&st=riecilt4&raw=1");
  background-size: cover;
}
.spoti {
width: 167.5px;
height: 167.5px;
border: 2px solid #1e293b;
background-color: #CBD5E1;
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 167.5 167.5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.7 0C37.5 0 0 37.5 0 83.7c0 46.3 37.5 83.7 83.7 83.7 46.3 0 83.7-37.5 83.7-83.7S130 0 83.7 0zM122 120.8c-1.4 2.5-4.6 3.2-7 1.7-19.8-12 -44.5-14.7-73.7-8-2.8.5-5.6-1.2-6.2-4-.2-2.8 1.5-5.6 4-6.2 32-7.3 59.6-4.2 81.6 9.3 2.6 1.5 3.4 4.7 1.8 7.2zM132.5 98c-2 3-6 4-9 2.2-22.5-14-56.8-18-83.4-9.8-3.2 1-7-1-8-4.3s1-7 4.6-8c30.4-9 68.2-4.5 94 11 3 2 4 6 2 9zm1-23.8c-27-16-71.6-17.5-97.4-9.7-4 1.3-8.2-1-9.5-3.2-1.3-4 1-8.5 5.2-9.8 29.6-9 78.8-7.2 109.8 11.2 3.7 2.2 5 7 2.7 10.7-2 3.8-7 5-10.6 2.8z' fill='%231e293b' fill-opacity='0.88' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/* Pagination styling */
/*.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin-top: 5px;
}*/

ol {
  list-style-type: decimal;
  padding-left: 1em;
}
.pagination li {
  margin: 0 2px;
}

.pagination li a {
  display: inline-block;
  padding: 3px 5px;
  background-color: white;
  color: navy;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination li a:hover {
  background-color:dodgerblue;
  color: white;
}

.pagination li.active a {
  background-color: dodgerblue;
  color: white;
  border-color: navy;
}